* {
    font-family: "Roboto", "Times New Roman", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0;
    padding: 0;
}

#header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 24px 100px;
}

.left-links {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.right-links {
    font-size: 18px;
    color: #e5e7eb;
}

#hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 24px 100px;
}

#hero .left-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#hero button {
    align-self: start;
    padding: 4px 20px;
}

#hero .text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#hero .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

#hero img {
    max-width: 500px;
}


#footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px 0;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}